# this ignores node_modules folder while pushing at github
# this works for every node_modules folder(or subfolder or subsubfolder etc) at every level from this place as root
node_modules/
Useless_recordedBatch/